.login  {
	margin-top: % !important;
	background-color: #2c3e50;
}

.login-box {
	background-color: #2980b9;
	padding: 25px;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.login-box h2 > small {
	color: #ecf0f1;
}

.login-box h2 > small > a {
	color: #2ecc71;
}

.title {
	
	text-align: center; !important;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 200px;
    opacity: ;
}

.title h1 {
	font-size: 60px !important;
	color: #2980b9;
}

.register {
	margin-top: % !important;
	background-color: #2c3e50;
}

div.register-box {
	background-color: #2980b9;
	padding: 25px;
	-webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    
}

.register-box h2 > small {
	color: #ecf0f1;
}

.register-box h2 > small > a {
	color: #2ecc71;
}

.register-box div > input {
	width: 75%;
}

.nav-tabs li > a{
	background-color:#55a5d9 ;
	border-color: #55a5d9;
	margin-right: 0px;
}

.nav-tabs > li.active > a {
	background-color:#2980b9 ;
	border-color: #2980b9;
}

.nav-tabs > li.active > a:focus {
	background-color:#55a5d9 ;
	border-color: #2980b9;
	
}

.nav-tabs > li.active > a:hover {
	color: #55a5d9;
	background-color:#2980b9;
	border-color:#2980b9;

}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	background-color:#55a5d9 ;
	border-color: #2980b9;
}

.nav-tabs > li > a:hover {
	color: #55a5d9;
	background-color:#2980b9;
	border-color:#2980b9;

}

.nav-tabs li {
	width: 50%;
	text-align: center;
}

.nav-tabs li:nth-child(odd) a {
	border-radius: 7px 0px 0px 0px;
}

.nav-tabs li:nth-child(even) a {
	border-radius: 0px 7px 0px 0px;
	padding-right: 1px;
}

.main {
	background: #2c3e50;
	
}